@charset "UTF-8";

header {
    background-image: url("../image/meiji.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
}

main h2 {
    text-align: center;
    padding: 5%
}

#jinja {
    display: flex;
    justify-content: space-between;
}

#jinja .box {
    background:#ccc;
    width: 30%;
}

#jinja .box h3 {
    background: #fafafa;
    text-align: center;
    padding: 25px
}

#jinja .box p {
   padding: 25px
}

footer {
  text-align: center;
  background: #fafafa;
  padding: 30px;
  margin-top:10%; 
}

footer a {
  width: 300px;
  padding: 10px;
  display: inline-block;
  background: #ccc;
  border-radius: 15px;
}

@media (max-width: 768px) {
  header {
    height: 250px;
  }

  main #jinja {
    display: block;
  }

  main #jinja .box {
    width: 100%;
    margin-bottom: 20px;
  }

  footer a {
    width: 100%;
  }
}


/*
何に対して {
    プロパティ:値;
}
*/

/* タグに対して */
/* IDに対して */
/* IDは同じHTMLファイル内に１つだけ 例：一個しか無いものに付ける */

    
/* スペースで区切るとその中の要素に対してもスタイルを指定できる */


/* classに対して */
/* classは同じHTMLファイル内に何個あってもOK 例：汎用的に使えるものに対してor複数設置するものに対して使う */
